$gray-900: #212121;
$dark-background: $gray-900;
$dark-title: #FFFFFF;
$dark-header: darken($dark-title, 10);
$dark-text: #F5F5F5;
$dark-accent: #0d6efd;
$dark-outline: rgba(255, 255, 255, 0.2);
$dark-header-border: #7f7f7f;
