{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block htmltitle %}
    {{taxonomy.name}} | {{ config.title }}
{% endblock htmltitle %}

{% block title %}
    {{taxonomy.name | upper | safe }}
{% endblock title %}

{% block content %}
<section class="post_container post_list">
    <center><h3 style="margin-bottom: 20px">{{taxonomy.name | upper}}</h3></center>
    {% for tag in terms %}
        <div class="article_link" style="margin-bottom: 10px">
            <center>
			<a class="button small" href="{{tag.permalink}}">{{ tag.name }}</a>
            </center>
        </div>
    {% endfor %}
</section>
{% endblock content %}
