{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block htmltitle %}
    {{ term.name }} | {{ config.title }}
{% endblock htmltitle %}

{% block title %}
    {{ term.name }}
{% endblock title %}

{% block content %}
<section class="post_container post_list">
<center><h1 class="site_title">{{term.name | markdown(inline=true) | upper | safe }}</h1></center>

{% for page in term.pages %}
    <div class="post_list_item">
        <h2 class="article_title" >
          <a href="{{page.permalink}}"  id="article_link" >{{page.title}}</a>
        </h2>
        {% if page.date %}
            {{ macros::frontmatter(classes="", date=page.date, updated=page.updated, word_count=page.word_count, read_time=page.reading_time, tags=page.taxonomies.tags) }}
        {% else %}
            {{ macros::frontmatter(classes="", date="", updated=page.updated, word_count=page.word_count, read_time=page.reading_time, tags=page.taxonomies.tags) }}
        {% endif %}
        {% if page.summary %}
            <div class="article_content">{{ page.summary | safe }}</div>
        {% else %}
            <div class="article_content">{{ page.content | truncate | safe }}</div>
        {% endif %}
        <a class="button small" href="{{page.permalink}}">Continue Reading →</a>
    </div>
{% endfor %}
</section>
{% endblock content %}
