{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block htmltitle %}
    {{ term.name }} - {{ config.title }}
{% endblock htmltitle %}

{% block title %}
    {{ term.name }}
{% endblock title %}

{% block content %}
<header class="header">
  <figure class="user_logo">
      <a href="{{config.base_url}}" style="background-image: url({{config.base_url}}/img/{{config.extra.profile}}"></a>
  </figure>
  <h2 class="site_title">{{config.title}}</h2>
  {{ macros::social_list(classes="header_list", bsize="small", extra=config.extra, siteurl=config.base_url, rss=config.generate_feed) }}
</header>

<center><h3>{{term.name | markdown(inline=true) | upper | safe }}</h3></center>

<ul>
    {% for page in term.pages %}
        <li>
            {{ page.title }}
            {% if page.date %}
				{{ macros::frontmatter(classes="", date=page.date, updated=page.updated, word_count=page.word_count, read_time=page.reading_time, tags=page.taxonomies.tags) }}
			{% else %}
				{{ macros::frontmatter(classes="", date="", updated=page.updated, word_count=page.word_count, read_time=page.reading_time, tags=page.taxonomies.tags) }}
            {% endif %}
			<a class="button small" href="{{page.permalink}}">Continue Reading →</a>
        </li>
    {% endfor %}
</ul>
{% endblock content %}
