{% macro mini_logo(classes, title, siteurl, logourl) %}
<figure class="mini_logo {{ classes }}">
    {%- set image = "/img/" ~ logourl -%}
    {%- if ".svg" not in logourl -%}
    {%- set image_obj = resize_image(path="../static/img/" ~ logourl, height=30, width=30, op="fill") -%}
    {%- set image = image_obj.url | replace(from=config.base_url, to="") -%}
    {%- endif -%}
    <a href="{{siteurl}}" style="background-image: url({{ image }})"></a>
</figure>
<h5>
    <a href="{{siteurl}}">{{title}}</a>
</h5>
{% endmacro mini_logo %}

<!-- classes=any extra styling, bsize=buttonsize, extra=config.extra, siteurl=config.base_url -->
{% macro social_list(classes, bsize, extra, rss, siteurl) %}
<ul class="social_list {{classes}}" >
    {% if extra.website %}
    <li class="button {{bsize}} font_faint"><a href="https://{{extra.website}}" target="_blank">{{extra.website_name}} <i class="fab fa-firefox-browser"></i></a></li>
    {% endif %}
    {% if extra.github %}
    <li class="button {{bsize}} font_faint"><a href="https://github.com/{{extra.github}}" target="_blank" >{{extra.github}} <i class="fab fa-github"></i></a></li>
    {% endif %}
    {% if extra.sourcehut %}
    <li class="button {{bsize}} font_faint"><a href="https://sr.ht/~{{extra.sourcehut}}" target="_blank" >~{{extra.sourcehut}} <i class="fas fa-code-branch"></i></a></li>
    {% endif %}
    {% if extra.twitter %}
    <li class="button {{bsize}} font_faint"><a href="https://twitter.com/{{extra.twitter}}" target="_blank">@{{extra.twitter}}</a><i class="fab fa-twitter" ></i></li>
    {% endif %}
    {% if extra.instagram %}
    <li class="button {{bsize}} font_faint"><a href="https://instagram.com/{{extra.instagram}}"  target="_blank">{{extra.instagram}}</a><i class="fab fa-instagram" ></i></li>
    {% endif %}
    {% if extra.youtube %}
    <li class="button {{bsize}} font_faint"><a href="https://youtube.com/channel/{{extra.youtube}}" target="_blank" >{{extra.youtube}}<i class="fab fa-youtube" ></i></a></li>
    {% endif %}
    {% if extra.linkedin %}
    <li class="button {{bsize}} font_faint"><a href="https://www.linkedin.com/in/{{extra.linkedin}}" target="_blank">LinkedIn <i class="fab fa-linkedin" ></i></a></li>
    {% endif %}
    {% if extra.reddit %}
    <li class="button {{bsize}} font_faint"><a href="https://www.reddit.com/u/{{extra.reddit}}" target="_blank">{{extra.reddit}}</a><i class="fab fa-reddit" ></i></li>
    {% endif %}
    {% if extra.keybase %}
    <li class="button {{bsize}} font_faint"><a href="https://keybase.io/{{extra.keybase}}" target="_blank" >{{extra.keybase}}</a><i class="fab fa-keybase" ></i></li>
    {% endif %}
    {% if extra.email %}
    <li class="button {{bsize}} font_faint"><a href="mailto:{{extra.email}}?subject=hi" target="_blank">say hello <i class="far fa-envelope"></i></a></li>
    {% endif %}
    {% if rss %}
    <li class="button {{bsize}} font_faint"><a href="{{siteurl}}/atom.xml" target ="_blank">atom <i class="fas fa-rss"></i></a></li>
    {% endif %}
</ul>
{% endmacro social_list %}

{% macro frontmatter(classes, date, updated, word_count, read_time, tags) %}
<ul class="frontmatter {{classes}}" id="frontmatter">
    <li>
        <time class="article_time"  datetime="{{date}}">
            {{ date | date(format="%B %d, %Y") }}
            {% if updated %}
            (updated {{ updated | date(format="%B %d, %Y") }})
            {% endif %}
        </time>
    </li>
    <span class="dotDivider"></span>
    <li> {{word_count}} words </li>
    <span class="dotDivider" ></span>
    <li> {{read_time}} min </li>
</ul>
<ul class="frontmatter {{classes}}">
    <li>
        tags:
        {% if 0 == tags | length %}
            <li>none</li>
        {% endif %}
        {% for tag in tags %}
            {% set url = get_taxonomy_url(kind="tags", name=tag) %}
            <li><a class="button extra_small" href="{{url}}">{{tag}}</a></li>
            {% if not loop.last %}
                <span class="dotDivider" ></span>
            {% endif %}
        {% endfor %}
    </li>
</ul>
{% endmacro frontmatter %}

{% macro menu(title, siteurl, extra, rss) %}
<input type="checkbox" id="openSidebarMenu" class="openSidebarMenu">
<label class="menu cross menu--1" for="openSidebarMenu">
    <svg viewBox="0 0 75 75" xmlns="https://www.w3.org/2000/svg">
        <circle cx="50" cy="50" r="30" />
        <path class="line--1" d="M0 40h62c13 0 6 28-4 18L35 35" />
        <path class="line--2" d="M0 50h70" />
        <path class="line--3" d="M0 60h62c13 0 6-28-4-18L35 65" />
    </svg>
</label>

<div id="sidebarMenu">
    <div class="menu_wrapper">
        <ul class="sidebarMenuInner">
            <li>
                <a href="{{siteurl}}" >{{title}}</a>
                <div class="menu_div" ></div>
            </li>
            <center><em>sitemap</em></center>
            <br/>
            {% set section = get_section(path="_index.md") %}
            <li><a href="{{section.permalink}}">{{section.title}}</a></li>
            {% for sec in section.subsections %}
            {% set cur_sec = get_section(path=sec) %}
            <li><a href="{{cur_sec.permalink}}">{{cur_sec.title}}</a></li>
            {% endfor %}
            <div class="menu_div"></div>
            {% if extra.website %}
            <li><a href="https://{{extra.website}}" target="_blank">{{extra.website_name}} <i class="fab fa-firefox-browser"></i></a></li>
            {% endif %}
            {% if extra.github %}
            <li><a href="https://github.com/{{extra.github}}" target="_blank" >{{extra.github}} <i class="fab fa-github"></i></a></li>
            {% endif %}
            {% if extra.sourcehut %}
            <li><a href="https://sr.ht/~{{extra.sourcehut}}" target="_blank" >~{{extra.sourcehut}} <i class="fas fa-code-branch"></i></a></li>
            {% endif %}
            {% if extra.twitter %}
            <li><a href="https://twitter.com/{{extra.twitter}}" target="_blank">@{{extra.twitter}}</a><i class="fab fa-twitter" ></i></li>
            {% endif %}
            {% if extra.instagram %}
            <li><a href="https://instagram.com/{{extra.instagram}}"  target="_blank">{{extra.instagram}}</a><i class="fab fa-instagram" ></i></li>
            {% endif %}
            {% if extra.youtube %}
            <li><a href="https://youtube.com/channel/{{extra.youtube}}" target="_blank" >{{extra.youtube}}<i class="fab fa-youtube" ></i></a></li>
            {% endif %}
            {% if extra.linkedin %}
            <li><a href="https://www.linkedin.com/in/{{extra.linkedin}}" target="_blank">LinkedIn <i class="fab fa-linkedin"></i></a></li>
            {% endif %}
            {% if extra.reddit %}
            <li><a href="https://www.reddit.com/u/{{extra.reddit}}" target="_blank">{{extra.reddit}}</a><i class="fab fa-reddit" ></i></li>
            {% endif %}
            {% if extra.keybase %}
            <li><a href="https://keybase.io/{{extra.keybase}}" target="_blank">{{extra.keybase}}</a><i class="fab fa-keybase" ></i></li>
            {% endif %}
            {% if extra.email %}
            <li><a href="mailto:{{extra.email}}?subject=hi" target="_blank">say hello <i class="far fa-envelope"></i></a></li>
            {% endif %}
            {% if rss %}
            <li><a href="{{siteurl}}/atom.xml" target ="_blank">atom <i class="fas fa-rss"></i></a></li>
            {% endif %}
        </ul>
    </div>
</div>
{% endmacro menu %}
