{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block htmltitle %}
{{page.title}} | {{ config.title }}
{% endblock htmltitle %}

{% block content %}
<nav id="overlord" class="overlord" >
  {{ macros::mini_logo(classes="", title=config.title, siteurl=config.base_url, logourl=config.extra.profile) }}
</nav>

<section class="post_container">
  <article>
    {% block post %}
      <h1 class="article_title"><a href="{{page.permalink}}" id="article_link">{{ page.title }}</a></h1>
      {%- set tags=[] -%}
      {%- if page.taxonomies.tags -%}
        {%- set tags=page.taxonomies.tags -%}
      {%- endif -%}
      {{ macros::frontmatter(classes="frontmatter_page", date=page.date, updated=page.updated, word_count=page.word_count, read_time=page.reading_time, tags=tags) }}
      {{ page.content | safe }}
      {% endblock post %}
  </article>
</section>
{% if config.extra.comments and not page.extra.nocomments %}
<script src="https://utteranc.es/client.js"
        repo="{{config.extra.comments.repo}}"
        {% if config.extra.comments.issue_number %}
        issue-number="{{config.extra.comments.issue_number}}"
        {% else %}
        issue-term="{{config.extra.comments.term}}"
        {% endif %}
        {% if config.extra.comments.label %}
        label="{{config.extra.comments.label}}"
        {% endif %}
        theme="{{config.extra.comments.theme}}"
        crossorigin="anonymous"
        async>
</script>
{% endif %}
{% endblock content %}

{% block pagination %}
  <nav class="pagination">
    {% if page.later %}
    <span class="prev" ><a rel="prev" href="{{page.later.permalink}}" class="button medium font_faint">← {{page.later.title}}</a></span>
    {% endif %}

    {% if page.earlier %}
    <span class="next" ><a rel="next" href="{{page.earlier.permalink}}" class="button medium font_faint">{{page.earlier.title}} →</a></span>
    {% endif %}
  </nav>
{% endblock pagination %}
