{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block htmltitle %}
{{section.title}} | {{ config.title}}
{% endblock htmltitle %}

{% block content %}
<header class="header">
  {% block header %}
  <h1 class="site_title">{{section.title}}</h2>
  <div>{{section.description | markdown(inline=true) | safe }}</div>
  {% endblock header %}
</header>

<section class="post_list_item">
  <article>
      {{ section.content | markdown | safe }}
  </article>
</section>

{% endblock content %}

{% block rss %}
  <link rel="alternate" type="application/atom+xml" title="Atom" href="{{get_url(path="atom.xml", trailing_slash=false)}}">
{% endblock rss %}
